<section>
  <article>
    <header>
      <h1>FIPE</h1>
    </header>
    <div>
      <div class="progress">
        <div [ngStyle]="{'width': percentage}" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
          aria-valuemax="100">
        </div>
      </div>

      <form action="">
        <select class="optionType form-control" placeholder="Select type" name="type" id="type" [(ngModel)]="type"
          (ngModelChange)="getBrands()">
          <option value="">Select type</option>
          <option class="optionType" *ngFor="let t of types" [value]="t">
            {{t}}
          </option>
        </select>

        <select class="form-control" placeholder="Select brand" name="brand" id="brand" [(ngModel)]="brandCode"
          (ngModelChange)="getModels()">
          <option value="">Select brand</option>
          <option *ngFor="let b of brands" [value]="b.codigo">
            {{b.nome}}
          </option>
        </select>

        <select class="form-control" placeholder="Select model" name="model" id="model" [(ngModel)]="modelCode"
          (ngModelChange)="getYears()">
          <option value="">Select model</option>
          <option *ngFor="let m of modelsVehicle" [value]="m.codigo">
            {{m.nome}}
          </option>
        </select>

        <select class="form-control" placeholder="Select brand" name="year" id="year" [(ngModel)]="yearCode"
          (ngModelChange)="getVehicle()">
          <option value="">Select year</option>
          <option *ngFor="let y of years" [value]="y.codigo">
            {{y.nome}}
          </option>
        </select>

        <h4 *ngIf="vehicle">Result </h4>

        <div *ngIf="vehicle" class="container-vehicle">
          <img class="imageCar" [src]="getImage">
          <p>Model: {{vehicle.AnoModelo}}</p>
          <p>Fuel: {{vehicle.Combustivel}}</p>
          <p>Brand: {{vehicle.Marca}}</p>
          <p>Price: {{vehicle.Valor}}</p>
        </div>
      </form>
    </div>
  </article>
</section>
