<section>
  <article>
    <header>
      <h1>FIPE</h1>
    </header>
    <div>
      <div class="progress">
        <div [ngStyle]="{'width': percentage}" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
          aria-valuemax="100">
        </div>
      </div>

      <form action="">
        <select class="optionType form-control" placeholder="Select type" name="type" id="type" [(ngModel)]="type"
          (ngModelChange)="getBrands()">
          <option value="undefined">Select type</option>
          <option class="optionType" *ngFor="let t of types" [value]="t">
            {{t}}
          </option>
        </select>

        <select class="form-control" placeholder="Select brand" name="brand" id="brand" [(ngModel)]="brandCode"
          (ngModelChange)="getModels()">
          <option value="undefined">Select brand</option>
          <option *ngFor="let b of brands" [value]="b.codigo">
            {{b.nome}}
          </option>
        </select>

        <select class="form-control" placeholder="Select model" name="model" id="model" [(ngModel)]="modelCode"
          (ngModelChange)="getYears()">
          <option value="undefined">Select model</option>
          <option *ngFor="let m of modelsVehicle" [value]="m.codigo">
            {{m.nome}}
          </option>
        </select>

        <select class="form-control" placeholder="Select brand" name="year" id="year" [(ngModel)]="yearCode"
          (ngModelChange)="getVehicle()">
          <option value="undefined">Select year</option>
          <option *ngFor="let y of years" [value]="y.codigo">
            {{y.nome}}
          </option>
        </select>

        <br>

        <div *ngIf="vehicle" class="container-vehicle">
          <h4>Result  </h4>
          <p>{{vehicle.AnoModelo}}</p>
          <p>{{vehicle.CodigoFipe}}</p>
          <p>{{vehicle.Combustivel}}</p>
          <p>{{vehicle.Marca}}</p>
          <p>{{vehicle.MesReferencia}}</p>
          <p>{{vehicle.SiglaCombustivel}}</p>
          <p>{{vehicle.SiglaCombustivel}}</p>
          <p>{{vehicle.TipoVeiculo}}</p>
          <p>{{vehicle.Valor}}</p>
        </div>
      </form>
    </div>
  </article>
</section>
