section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

article {
  flex: 1;
  background: rgba(255, 255, 255, 0.4);
  margin: 2% 10%;
  padding: 2% 10%;
  border-radius: 5px;
}

.progress {
  margin-bottom: 15px;
  background-color: #30424d;
}

form {
  display: flex;
  flex-direction: column;
}

select {
  margin-bottom: 15px;
}

.optionType {
  text-transform: capitalize;
}

.imageCar {
  height: 40px;
  float: right;
}

.container-vehicle {
  background: white;
  border-radius: 5px;
  padding: 20px;
}
